.input {
  background-color: rgba(216, 216, 216, 0.2);
  border: 1px solid rgba(216, 216, 216, 0.5);;
  padding: 15px;
  min-height: 200px;
  min-width: 400px;
}

.iframe {
  display: block;
  margin: 0 auto;
  border: none;
}

