@charset "UTF-8";
@use 'sass:math';
// <MIXINS> ========================================================================================================
@import 'mixins';
// </MIXINS> =======================================================================================================

// <FONTS> =========================================================================================================
@import 'fonts';

// &display=swap&subset=cyrillic-ext
@import url(https://fonts.googleapis.com/css?family=Inter:regular,500,600,700,900);


// <ICONS> =========================================================================================================
//@import 'icons';
// </ICONS> =========================================================================================================

// <FONT BY DEFAULT> ===============================================================================================
$fontFamily: "Inter";
$fontSize: 16px;

// <VARIABLES> =====================================================================================================
$minWidth: 320;
$maxWidth: 1920;
$maxWidthContainer: 1440;
$bp1: $maxWidthContainer + 20;
$bp2: 991.98;
$bp3: 767.98;
$bp4: 666.98;
$bp5: 479.98;
$bp6: 413.98;
$bg_primary: #f7f7f7;
$bg_secondary: #202020;

$btn_primary: #4040f2;

$c_primary: #242d35;
$c_secondary: #E50010;
$c_optional: #5555ff;
// </VARIABLES> ====================================================================================================

// <NULLIFICATION> =================================================================================================
@import "null";
body {
  font-size: $fontSize;
  font-family: $fontFamily, sans-serif;
  overflow-x: hidden;
  overflow-y: inherit;
  color: $c_primary;
  background-color: $bg_primary;
  ._lock {
    height: 100vh;
    overflow: hidden;
  }
}
// </NULLIFICATION> ================================================================================================

// <WRAPPER> =======================================================================================================
main {
  position: relative;
  display: flex;
  width: 100%;
  //justify-content: center;
  align-self: stretch;
  &._loaded {
    animation: none;
  }
}
.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  min-height: 100vh;
}
// </WRAPPER> ======================================================================================================

// <MAIN GRID> =====================================================================================================
._container {
  max-width: $maxWidthContainer + px;
  @media (max-width: ($bp1 + px)) {
    max-width: none;
  }
  @media (max-width: ($bp2 + px)) {
    max-width: none;
  }
  @media (max-width: ($bp3 + px)) {
    max-width: none;
    // padding: 0 10px;
  }
}
// </MAIN GRID> =====================================================================================================

// <LAYOUT-RELATED> ==================================================================================================
@import
  'header',
  'footer';
// </LAYOUT-RELATED> =================================================================================================

// <UI> ==============================================================================================================
@import 'ui';
@import 'icons';
// </UI> =============================================================================================================

// <FORMS> ===========================================================================================================
@import 'forms';
// </FORMS> ==========================================================================================================

// <PAGE-SPECIFIC STYLES> ============================================================================================
@import 'page';
@import './pages/addons';
@import './pages/analytics';
@import './pages/auth';
@import './pages/chat';
@import './pages/crossposting';
@import './pages/home';
@import './pages/multilink';
@import './pages/profile';
@import './pages/price';
@import './pages/shop';
// </PAGE-SPECIFIC STYLES> ===========================================================================================

// <THEMES> ==========================================================================================================
//@import 'default';
// </THEMES> =========================================================================================================
