.socialItem {
  max-height: 55px;
  padding-bottom: 15px;
  max-width: 100%;
}

.socNetwork {
  height: 40px;
  width: 100%;
  border: 1px solid #EAECEE;
  border-radius: 7px;
}

.errorSocialNetwork {
  height: 15px;
  font-size: 80%;
  color: #e50010;
}