.landing-img {
  position: relative;
  top: 0;
  left: 0;
  transform: none;
}

.landing-img_avatar {
  width: 600px;
}

.landing-main {
  display: block;
}

.landing-h2 {
  font-size: 32px;
  font-weight: 500;
}

.landing-h3 {
  font-size: 28px;
  font-weight: 500;
}

.landing-body {
  line-height: 1.5;
}