.block {
  display: flex;
  flex-direction: column;

  // .block__title
  &__title {
    padding: 20px 16px;
  }

  // .block__rating
  &__rating {
    padding: 20px 16px;
    display: flex;
    justify-content: center;
  }
  
  // .block__button-submit
  &__button-submit {
    padding: 20px 16px;
  }
}

.error{
  margin-top: 10px;
  color:red;
  text-align: center;
}