.flex__row3 {
  margin-top: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.radio {
  margin: 15px 0 0 10px;
}

.color {
  display: flex;
}

.colorText {
  margin-top: -80px;
}