.bg {
  padding: 0;
  position: relative;
  box-shadow: 0px 4px 27px #0000001a;
  border-radius: 12px;
  overflow-x: hidden;
  &>div {
    padding-bottom: 100%;
  }
  &>input {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0;
  }
}
