.rangeSize {
  margin-bottom: 15px;
}

.links {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  width: 100%;
}

.linkType {
  padding-top: 10px;
  width: 20%;
}

.linkTypesWeight{
  font-weight: bold;
  height: 55px;
}

.socialElements {
  width: 80%;
}
