.imgContainer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  .img {
    top: 0;
    left: 0;
    transform: none;
    width: 200px;
    height: 200px;
    position: static;
    margin: 10px;
  }
}
