.home {

		// .home__header
		&__header {
      display: flex;
		}

		// .home__greeting
		&__greeting {
      flex: 1 1 auto;
      margin: 0 24px 0 0;
		}

		// .home__add-new-post
		&__add-new-post {
      button {
        font-size: 14px;
        line-height: 1;
        padding: 13px 32px 13px 20px;
        border-radius: 8px;
      }
      strong {
        display: inline-block;
        position: absolute;
        right: 10px;
        top: 50%;
        font-size: 150%;
        line-height: 1;
        transform: translateY(calc(-50% - 1px));
      }
		}

		// .home__main
		&__main {
      padding-top: 24px;
		}
}
.chart {
  height: 400px;
}
.socials {
  &__grid {
    display: flex;
    flex-wrap: wrap;
    padding-top: 24px;
    &>li {
      width: 50%;
      margin-bottom: 30px;
    }
  }
}
.coverage {
  height: 159px;
}
