.multilink {
	// .multilink__header
	&__header {
	}

	// .multilink__main
	&__main {
	}
	.paper-title {
		text-align: center;
	}
}

.multilink-grid {
	height: 600px;
}

.multilink-editor {
	display: flex;
	&__nav {
		align-items: center;
		.paper-title {
			text-align: center;
		}
	}
	.paper-link {
		display: flex;
		flex-wrap: wrap;
		background: rgb(247, 247, 247);
		margin-top: 5px;
		padding: 10px;
		border: 3px solid black;
		border-radius: 8px;
		width: 100%;

		// .paper-link__host
		&__host {
			cursor: pointer;
			font-weight: bold;
		}
		// .paper-link__input
		&__input {
			outline: none;

			&::-webkit-input-placeholder {
				color: black;
			}

			&:focus::-webkit-input-placeholder {
				opacity: 0;
			}
		}
		// .paper-link__valid
		&__valid {
			width: 20px;
			justify-self: flex-end;
		}
	}

	.bg-menu-grid {
		grid-template-columns: 1fr 1fr 1fr;
		grid-gap: 24px;
		padding-top: 0;
	}

	//.multilink-editor__constructor
	&__constructor {
		margin: 0 auto;
		padding: 24px 0;
		width: 500px;
	}
}

.ml-creation-area {
	flex: 0 1 500px;
	margin-right: 24px;
	& > .paper {
		min-height: 733px;
	}
	.button-download {
		margin: 0 auto;
	}
	._back-ml-editor {
		position: absolute;
		bottom: 0;
		z-index: 10;
		left: 0px;
	}
}

.tools-area {
	position: relative;
	flex: 0 1 400px;
	margin: 0 auto;
	padding: 24px 0;

	//.tools-area__container
	&__container {
		position: sticky;
		top: 24px;
		width: 100%;
		& > * {
			margin-bottom: 24px;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}

.ml-template {
	position: relative;
	margin: 0 auto;
	padding: 24px 0;
	width: 395px;
	height: 780px;
	border: 10px solid #000;
	border-radius: 25px;
	background-color: #fff;
	background-position: 50% 0% !important;
	background-size: cover !important;
	overflow: hidden;
	& > * {
		display: flex;
		margin-bottom: 24px;
		word-wrap: break-word;
		overflow: hidden;
		&:last-child {
			margin-bottom: 0 !important;
		}
	}

	// .template__block
	&__block {
		position: relative;
		width: 100%;
		height: 100%;
		border: 2px dashed #4040f2;
		&._interactive:hover {
			border: 2px solid #0ed400;
			box-shadow: 0 0 0 1px #0ed400;
			.icon {
				--primary: #0ed400;
			}
		}
		&._filled {
			border: 2px solid #4040f2;
			box-shadow: 0 0 0 1px #4040f2;
		}
		& .icon-container {
			height: 100%;
			.icon {
				cursor: pointer;
				--primary: #44c13c;
			}
		}
		button {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			padding: 0;
		}
	}
	// .template__ml-form
	&__ml-form {
		& > *:last-child {
			padding-top: 24px;
		}
	}
	// .template__link
	&__link {
		padding: 10px;
		overflow: hidden;
	}

	// .template_unlimited
	&_unlimited {
		height: auto;
		min-height: 780px;
	}
}

.ml-logo-editor {
	position: relative;
}

.thumbnail {
	padding: 5px 0;
	width: 79px;
	height: 156px;
	border: 2px solid #000;
	border-radius: 5px;
	& > * {
		display: flex;
		margin-bottom: 5px;
		&:last-child {
			margin-bottom: 0;
		}
	}
	.social-set {
		li {
			width: 8px;
			height: 8px;
		}
	}
}

// legacy
.phone {
	position: relative;
	//z-index: 2;
	// .phone__container
	&__container {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: 5px;
		padding: 32px 15px 20px;
		padding: 10% 0 9%;
		border-radius: 25px;
		background-color: #fff;
		z-index: 0;
	}

	// .phone__logo
	&__logo {
		position: relative;
		flex: 0 0 17%;
		width: 100%;
		margin-bottom: 5%;
		//height: 80px;
		.icon-container {
			height: 100%;
		}
	}
	// .phone__user-title
	&__user-title {
		margin-bottom: 7%;
		font-size: 18px;
	}
	// .phone__template
	&__template {
		flex: 1 1 0%;
		display: flex;
		flex-direction: column;
		width: 100%;
		& > * {
			position: relative;
			display: flex;
			justify-content: center;
			align-items: center;
			margin-bottom: 7%;
			word-wrap: break-word;
			&:last-child {
				margin-bottom: 0;
			}
		}
		.link {
			//display: flex;
			margin: auto;
			min-width: 0;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}
		.text {
			width: 100%;
			height: 100%;
		}
		img {
			position: absolute;
			object-fit: contain;
			height: 100%;
			width: 100%;
		}
	}
	// .phone__layout
	&__layout {
		position: relative;
		z-index: 2;
	}
}
