.preloader {
  position: absolute;
  margin: auto;
  width: 75px;
  height: 75px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  &>* {
    width: 100%;
    height: 100%;
    :global(.icon) {
      --primary: #4040f2;
      --secondary: #4040f2;
      animation: spin__slip infinite 2s 0.5s running;
    }
  }
}

@keyframes spin__slip {
  0% {
    transform: rotate(0deg);
  }
  7% {
    transform: rotate(-25deg);
  }
  14% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(720deg);
  }
}