.wrapper {
  width: 400px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #f1f1f1;
  text-align: center;
  border-radius: 10px;
}

.buttons {
  display: flex;
  justify-content: space-around;
}